{% extends "core/base.html" %}

{% block header %}

<header>
    <div class="card bg-light">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-black font-weight-bold">{{product.product_name}}
                    </h1>
                    <h2 class="text-uppercase text-black font-weight-bold">
                        {{num_substitutes}} produit(s) trouvé(s)
                    </h2>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock header %}


{% block content %}

<!-- Substitute cards-->
<section class="page-section" id="substitutes">
    <div class="container">
        <h2 class="text-center mt-0">Vous pouvez remplacer cet aliment par:</h2>
        <hr class="divider my-4" />
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% for substitute in substitute_pages %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" style="height: 250px; width: 100%; display: block;"
                                src={{substitute.image_url}} data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text">{{substitute.product_name}}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group" role="group">

                                        {% if user.is_authenticated %}
                                            {% if substitute in user.product_set.all %}

                                            <form action="{% url 'login' %}" method="get">
                                                <input type="submit" name="action" value="Sauvegardé" 
                                                    class="btn btn-sm btn-outline-secondary" disabled>
                                            </form>
    

                                            {% else %}

                                            <form action="{% url 'favourite' %}" method="post">
                                                {% csrf_token %}
                                                <input type="submit" name="action" value="Sauvegarder"
                                                    class="btn btn-sm btn-outline-secondary" />
                                                <input type="hidden" name="product_barcode" value="{{ product.barcode }}">
                                                <input type="hidden" name="product_name" value="{{ product.product_name }}">
                                                <input type="hidden" name="substitute_barcode"
                                                    value="{{ substitute.barcode }}">
                                            </form>

                                            {% endif %}

                                        {% else %}

                                        <form action="{% url 'login' %}" method="get">
                                            <input type="submit" name="action" value="Sauvegarder"
                                                class="btn btn-sm btn-outline-secondary" />
                                        </form>

                                        {% endif %}
                                        <form action="{% url 'product' barcode=substitute.barcode %}" method="get">

                                            <input type="submit" value="Détail"
                                                class="btn btn-sm btn-outline-secondary" />
                                        </form>
                                    </div>
                                    <small class="text-muted">{{substitute.nutriscore_grade}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </div>
                {% if substitute_pages.has_other_pages %}
                <nav aria-label="...">

                    <ul class="pagination">
                        {% if substitute_pages.has_previous %}
                        <li class="page-item"><a class="page-link"
                                href="{% url 'substitute' %}?product={{product.product_name}}&page={{substitute_pages.previous_page_number}}">Précédent</a>
                        </li>
                        {% else %}
                        <li class="disabled"><span class="page-link">Précédent</span></li>
                        {% endif %}
                        {% for i in substitute_pages.paginator.page_range %}

                        {% if substitute_pages.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }} <span
                                    class="sr-only">(current)</span></span></li>
                        {% else %}
                        <li class="page-item"><a class="page-link"
                                href="{% url 'substitute' %}?product={{product.product_name}}&page={{i}}">{{ i }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {% if substitute_pages.has_next %}
                        <li class="page-item"><a class="page-link"
                                href="{% url 'substitute' %}?product={{product.product_name}}&page={{substitute_pages.next_page_number}}">Suivant</a>
                        </li>
                        {% else %}
                        <li class="disabled"><span class="page-link">Suivant</span></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </nav>

            </div>           
        </div>
</section>


{% endblock %}