{% load static %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" id="">
    <div class="container">
        <a class="navbar-brand  js-scroll-trigger" href="/">
            <img src="{% static 'core/assets/img/logo.png' %}" class="img-fluid" style="max-width: 50px;">
            Pur Beurre
         </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">

                <li>
                    <a class="nav-link js-scroll-trigger">
                        <form  action="{% url 'substitute' %}" method='GET' role='form'>                       
                                                 
                            <div class="input-group md-form form-sm form-2 pl-0">
                                
                               
                                <div class="input-group-append">
                                    {{ search_bar_form }} 
                                  <span class="input-group-text lime lighten-2" id="basic-text1">
                                      <i class="fas fa-search text-grey" aria-hidden="true"></i></span>
                                </div>
                              </div>


                        </form>

                        

                    </a>                   
                </li>               
                
                {% if user.is_authenticated %}
                <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="{% url 'favourite' %}"><i class='fas fa-carrot' style='font-size:30px'></i></a></li>
                <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="{% url 'profile' %}"><i class='fas fa-user' style='font-size:30px'></i></a></li>
                <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt" style='font-size:30px'></i></a></li>
                {% else %}
                <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="{% url 'register' %}"><i class="fas fa-user-plus" style='font-size:30px'></i></a></li>
                <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="{% url 'login' %}"><i class="fas fa-sign-in-alt" style='font-size:30px'></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>