{% extends "core/base.html" %}

{% block header %}

<header>
    <div class="card bg-light">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-black font-weight-bold">Vos aliments sauvegardés
                    </h1>
                    <h2 class="text-uppercase text-black font-weight-bold">
                        XX produit(s) sauvegardé(s)
                    </h2>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock header %}


{% block content %}

<!-- Substitute cards-->
<section class="page-section" id="substitutes">
    <div class="container">
        <h2 class="text-center mt-0"></h2>
        <hr class="divider my-4" />
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% for favourite in favourites %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" style="height: 250px; width: 100%; display: block;"
                                src={{favourite.image_url}} data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text">{{favourite.product_name}}</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <div class="btn-group" role="group" action="" method="post" >
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Supprimer</button>


                                        <form action="{% url 'product' barcode=favourite.barcode %}" method="post">
                                            {% csrf_token %}
                                            <input type="submit" name="product_detail" value="Détail"
                                                class="btn btn-sm btn-outline-secondary"/>
                                        </form>
                                        
                                    </div>                                 

                                    <small class="text-muted">{{favourite.nutriscore_grade}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
</section>


{% endblock %}