{% extends "core/base.html" %}

{% block header %}
<header>

    <section>

        <section>

            <div class="card bg-light">
                <article class="card-body mx-auto" style="max-width: 400px;">
                
              
                <div class="row justify-content-center">
                    <h4 class="card-title mt-3 text-center">Connectez-vous</h4>
                    <form class="form-signin" method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
        
                        <table>
                            <tr>
                                <td>{{ form.username.label_tag }}</td>
                                <td>{{ form.username }} </td>
                            </tr>
                            <tr>
                                <td>{{ form.password.label_tag }}</td>
                                <td>{{ form.password }}</td>
                            </tr>
                        </table>

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" value="remember-me"> Enregistrer
                            </label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
                        <input type="hidden" name="next" value="{{ next }}">

                    </form>

                </div>
            </article>
            </div>
     
        </section>
    </section>

    

</header>
{% endblock %}